* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

[class*="col-"] {
  font-size: 100px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  float: left;
  padding: 12px;
  border: 5px solid white;
}

div.col-12 {
  width: 100%;
  background-color: rgb(115, 64, 108);
  height: 150px;
}

div.col-8 {
  width: 66.66%;
  background-color: green;
  height: 455px;
}

div.col-4 {
  width: 33.33%;
  background-color: blue;
  height: 455px;
}

@media all and (max-width: 768px) {
  #a {
    width: 100%;
    height: 100px;
  }

  #b {
    width: 100%;
    height: 450px;
  }

  #c {
    width: 100%;
    height: 115px;
  }
}
