/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 240px 240px;
    grid-gap: 15px;
    grid-template-areas:
        'a a a a a a a a a a a a'
        'b b b c c c d d d h h h'
        'e e e f f f g g g h h h';
}

.col-a {
  background-color: yellow;
  grid-area: a;
}

.col-b {
  background-color: blue;
  grid-area: b;
}

.col-c {
  background-color: purple;
  grid-area: c;
}

.col-d {
  background-color: red;
  grid-area: d;
}

.col-e {
  background-color: pink;
  grid-area: e;
}

.col-f {
  background-color: black;
  grid-area: f;
}

.col-g {
  background-color: green;
  grid-area: g;
}

.col-h {
  background-color: orange;
  grid-area: h;
}

@media all and (max-width: 768px) {
  .container {
    grid-template-areas:
    "a a a a a a a a a a a a"
    "b b b b c c c c d d d d"
    "e e e e f f f f g g g g"
    "h h h h h h h h h h h h";

    grid-template-rows: 100px 240px 240px 100px;
  }
}
